.autocomplete, .autocomplete li:hover {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.autocomplete {
	display: none;
	border: 1px solid #E9E9E9;
	border-top: none;
	border-bottom: none;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 100;
}

.autocomplete li {
	background-color: #F9F9F9;
	border-bottom: 1px solid #F0F0F0;
	width: auto;
	height: 23px;
	padding: 3px 5px;
}

.autocomplete li.active {
	background-color: #E5EFFF;
}

.autocomplete li a {
	color: #333;
	font: normal 13px/15px arial, helvetica, tahoma, verdana, sans-serif;
	outline: none;
	line-height: 23px;
	text-decoration: none;
}