body {
	font: 14px/18px arial,tahoma, verdana, serif;
}

h3 {
	font: 600 16px/18px arial,tahoma, verdana, serif;
}

div, pre {
	overflow: hidden;
}

pre {
	background: #FCFCF8;
	border: 1px dashed #7D7676;
	clear: both;
	color: #480E0C;
	margin-bottom: 20px;
	padding: 18px;
	width: 450px;
}

ul {
	width: 150px;
	overflow: hidden;
}

li {list-style: none;}

li a {
	background: #404040;
	color: #FFF;
	display: block;
	font: bold 15px/34px arial;
	position: relative;
	text-align: center;
	width: 149px;
	height: 36px;
}

li.block {
	background: #65DE74;
	color: #4A4A4A;
	display: none;
	height: 150px;
	text-align: center;
}

li.block span {
	display: block;
	line-height: 18px;
	padding-top: 58px;
	position: relative;
}

li.active {display: block;}