body {
	font: 14px/18px arial,tahoma, verdana, serif;
}

h3 {
	font: 600 16px/18px arial,tahoma, verdana, serif;
}

div, pre {
	overflow: hidden;
}

pre {
	background: #FCFCF8;
	border: 1px dashed #7D7676;
	clear: both;
	color: #480E0C;
	width: 636px;
}

ul {
	float: left;
	list-style: none;
}

.ul1 li, .ul2 li {
	border: 1px solid #B3B1B1;
	border-radius: 3px;
	color: #888888;
	font: 15px/27px arial,tahoma, verdana, serif;
	margin-bottom: 4px;
	padding-left: 5px;
	text-shadow: 1px 0 #1A1A1A;
	width: 110px;
}

.ul2 li.active {
	display: block;
}

.ul1 li {
	background: #F8F8F8;
	cursor: pointer;
	height: 29px;
}

.ul1 li:hover {
	background: #FFF;
}

.ul2 li {
	background: #CEEDF1;
	display: none;
	height: 99px;
	margin-left: 4px;
}